
@{
    ViewData["Title"] = "Index";
}
@model List<Salary>
<h1>Salary List</h1>

<div>
    <a class="btn-primary" asp-action="Add">Add</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ammount</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Ammount
                    </td>
                    <td>
                        <a style="color:white" class="btn btn-success" asp-action="Add" asp-route-id="@item.Id">Add</a>
                        <a style="color:white" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

