@{
    ViewData["Title"] = "Add";
}

@model Department


<form method="post" asp-action="Add">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Department Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>
