
@{
    ViewData["Title"] = "Add";
}
@model Person

<h1>Add Person</h1>

<form method="post" asp-action="Add">

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Person name</label>
            <input asp-for="Name" class="form-control"/>
        </div>

        <div class="col-md-4 mb-3">
            <label>Person Surname</label>
            <input asp-for="Surname" class="form-control" />
        </div>

        <div class="col-md-4 mb-3">
            <label>Age</label>
            <input asp-for="Age" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="col-md-4 mb-3">
            <label>Password</label>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="col-md-4 mb-3">
            <label>Address</label>
            <input asp-for="Address" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Position</label>
            <input asp-for="PositionId" class="form-control" />
        </div>

        <div class="col-md-4 mb-3">
            <label>Salary</label>
            <input asp-for="SalaryId" class="form-control" />
        </div>

    </div>

</form>

